DATABASE = "url da mongodb, pode ser atlas ou local (to usando local)"
MY_SECRET = "secret que vai ser utilizado para gerar o salt"

AWS_REGION = "a regiao que voce utiliza na aws"

MEDIA_BUCKET = "nome do seu bucket de media"
PREVIEW_BUCKET = "nome do seu bucket de preview"
PFP_BUCKET = "nome do seu bucket de pfp"

AWS_ACCESS_ID = "o seu id de acesso da aws"
AWS_SECRET_KEY = "o seu secret de acesso da aws"