<div class="header"> 
    <div class="navbar">
        <div class="logo center-itens">
            <h1 style="text-wrap: nowrap;"><a href="/media" style="color: white;">HUB</a></h1>
        </div>
        <div class="search-container center-itens">
            <div class="search-input">
                <input type="text" id="search" placeholder="Pesquisar...">
                <div class="search-icon">
                    <i class="bi bi-search" style="font-size: 24px;" type="submit"></i>
                </div>
            </div>
        </div>
        <div class="auth-container">
            <% if (!user.name) { %>
                <div class="auth-buttons">
                    <button><a href="/auth/login">login</a></button>
                    <button><a href="/auth/register">register</a></button>
                </div>
            <% } else { %>
                <div class="auth-text">
                    <h1><a href="/profile/<%- user.name %>"><%- user.name %></a></h1>
                </div>            
            <% } %>
        </div>
    </div>
    <nav class="menu">
        <div class="resto">
            <div class="icons">
                <div id="img1" class="bi bi-house" style="color: white;"></div>
                <div id="img2" class="bi bi-upload" style="color: white;"></div>
                <div id="img3" class="bi bi-person" style="color: white;"></div>
            </div>

            <div class="texts" style="display: none;">
                <a href="/media" id="txt1" style="color: white; font-size: 16px; font-weight: bold;">HOME</a>
                <a href="/media/upload" id="txt2" style="color: white; font-size: 16px; font-weight: bold;">UPLOAD</a>
                <a href="/profile/<%- user.name %>" id="txt3" style="color: white; font-size: 16px; font-weight: bold;">PROFILE</a>
            </div>    
        </div>
    </nav>
</div>