* {
    font-family: Arial;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 235, 225);
}

label {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-basis: 90%;
}

.logo > h1 {
    color: white;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 600px;
    background-color: rgb(24, 24, 24);
    box-shadow: 6px 7px 6px 0px rgba(0, 0, 0, 0.603);
    
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
}

form > button {
    width: 50%;
    height: 5%;
    margin-top: 20px;
}

form > label {
    color: white;
}

input {
    margin-top: 20px;
    display: block;
    color: rgb(0, 0, 0);
}

#file {
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
}

.images {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
    max-width: 30%;
    max-height: 35%;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgba(22, 51, 214, 0.733);
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.content img, .content > video {
    display: block;
    height: auto;
    max-width: 90%;
    max-height: 100%;
    margin-top: 10px;
}

.resto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.resto > p{
   padding-left: 100px;
   color: white;
}
.resto > p > a{
    color: white;
    border-radius: 10px;
}

nav.menu{
    display: flex;
    width: 100%;
    height: 25%;
    background-color: rgb(59, 59, 57);
    transition: 0.5s;
    overflow: hidden;
}

nav.menu:hover{
    height: 45%;
    transition: 0.5s; 
}

.navbar {
    display: flex;
    width: 100%;
    height: 60%;
    background-color: rgb(24, 24, 24);
    align-items: center;
    justify-content: center;
}

.icons, .texts {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.texts > a, .icons > a {
    color: white;
}

.formgrp{
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
}

#name{
    padding: 8px 20px;
    font-size: 18px;
    background-color: transparent;
    border: #acacac solid 2px;
    border-radius: 5px;
    color: white;
}

input#name::placeholder{
    color: transparent;

}
.formgrp .formlabel { 
    border-color: #eee;
}   

.formgrp .formlabel {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 0 10px;
    font-size: 18px;
    color: #acacac;
    pointer-events: none;
    transition: 0.15s all ease;
}

.formgrp input:focus+ .formlabel {
    color: #eee;
    transform: translate(5px, -23px);
    background-color: rgb(24, 24, 24);
}
.send {
    border-radius: 5px;
    background-color: transparent;
    width: 110px;
    border: #acacac solid 2px;
    color: white;
}    

.arqv {
   background-color: transparent;
}

.label-file {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.label-file:hover {
    background-color: #555;
}

.input-file {
        display: none;
}

.file-text {
    display: inline-block;
    color: #616161;
    margin-top: 15px;
}

.submit-button {
    display: inline-block;
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30%;
    height: 9%;
    font-size: 15px;
    font-weight: bold;
    justify-self: center;
}

.submit-button:hover {
    background-color: #005d91;
}

.card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 20%;
    max-height: 40%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 10px;
}

.card-image {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-image img, .card-image video {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
    text-align: left;
}

h2 {
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.country {
    font-size: 14px;
    color: #777;
}

.date {
    font-size: 14px;
    color: #777;
    text-align: right;
}

.card-content p {
    margin: 4px 0;
}
  
select {
    width: 30%;
    height: 5%;
    background-color: rgb(83, 83, 83);
    color: white;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-self: center;
    overflow: hidden;
}

.search-input {
    display: flex;
    width: 100%;
    height: 5%;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.search-input input[type="text"] {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    flex: 1;
    justify-self: center;
    margin: 0;
}

.search-icon {
    display: none;
    padding: 5px;
}

.search-icon i {
    font-size: 16px;
    color: #888;
}

#search {
    font-size: 20px;
}

.results {
    display: block;
    width: 100%;
    height: 100%;
}

.result {
    display: flex;
    width: 100%;
    height: 10%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
}

.result h1 {
    font-size: 18px;
    flex-basis: 90%;
    margin-left: 10px;
}

.result img{
    max-height: 100%;
    width: auto;
}