* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0e0e0e;
}

label {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  width: 10%;
  height: 100%;
  margin-left: 1%;
}

.logo h1 {
  text-align: start;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 50%;
  background-color: rgb(24, 24, 24);
  margin-top: 25px;
  border-radius: 6px;
}

form > button {
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

form > label {
  color: white;
}

form input {
  display: block;
  color: rgb(0, 0, 0);
}

#file {
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 12%;
  overflow: hidden;
}

.images {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.content {
  display: flex;
  max-width: 30%;
  max-height: 35%;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgba(22, 51, 214, 0.733);
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.content img,
.content > video {
  display: block;
  height: auto;
  max-width: 90%;
  max-height: 100%;
  margin-top: 10px;
}

.resto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

.resto > p {
  padding-left: 100px;
  color: white;
}
.resto > p > a {
  color: white;
  border-radius: 10px;
}

nav.menu {
  display: flex;
  width: 100%;
  height: 30%;
  background-color: rgb(39, 39, 39);
  transition: 0.5s;
  overflow: hidden;
}

nav.menu:hover {
  height: 50%;
  transition: 0.5s;
}

.navbar {
  display: flex;
  min-width: 100%;
  height: 60%;
  background-color: rgb(24, 24, 24);
}

.nav-menu {
  height: 60% !important;
}

.center-itens {
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.icons,
.texts {
  display: flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.texts > a,
.icons > a {
  align-self: center;
  justify-self: center;
  color: white;
}

.formgrp {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

#name {
  padding: 8px 20px;
  font-size: 18px;
  background-color: transparent;
  border: #acacac solid 2px;
  border-radius: 5px;
  color: white;
}

input#name::placeholder {
  color: transparent;
}
.formgrp .formlabel {
  border-color: #eee;
}

.formgrp .formlabel {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0 10px;
  font-size: 18px;
  color: #acacac;
  pointer-events: none;
  transition: 0.15s all ease;
}

.formgrp input:focus + .formlabel {
  color: #eee;
  transform: translate(5px, -23px);
  background-color: rgb(24, 24, 24);
}
.send {
  border-radius: 5px;
  background-color: transparent;
  width: 110px;
  border: #acacac solid 2px;
  color: white;
}

.arqv {
  background-color: transparent;
}

.label-file {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.label-file:hover {
  background-color: #555;
}

.input-file {
  display: none;
}

.file-text {
  display: inline-block;
  color: #616161;
  margin-top: 15px;
}

.submit-button {
  display: inline-block;
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
  height: 9%;
  font-size: 15px;
  font-weight: bold;
  justify-self: center;
}

.submit-button:hover {
  background-color: #005d91;
}

.card {
  background-color: #1a1a1a;
  border: 1px solid rgba(224, 224, 224, 0.158);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 25%;
  height: 360px;
  box-shadow: 0 1px 8px rgba(65, 65, 65, 0.2);
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.user a {
  color: white;
}

.card-image {
  width: 100%;
  height: 85%;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-image img,
.card-image video {
  height: 100%;
  width: 100%;
}

.card-content {
  padding: 16px;
  text-align: left;
}

.card-content h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.user {
  font-size: 14px;
  color: #ffffff;
}

.date {
  font-size: 14px;
  color: #bdbdbd;
  text-align: right;
}

.card-content p {
  margin: 4px 0;
}

select {
  width: 30%;
  height: 5%;
  background-color: rgb(83, 83, 83);
  color: white;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 100%;
  margin-left: 2%;
  overflow-y: visible;
}

.reset-shit {
  margin: 0;
  padding: 0;
}

.search-input {
  display: flex;
  width: 80%;
  height: 5%;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.search-input input[type="text"] {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  flex: 1;
  justify-self: center;
  margin: 0;
}

.search-icon {
  display: none;
  padding: 5px;
}

.search-icon i {
  font-size: 16px;
  color: #888;
}

#search {
  font-size: 20px;
}

.results {
  display: flex;
  width: 100%;
  height: 100%;
}

.result {
  position: relative;
  width: 100%;
  height: 10%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  align-items: center;
  overflow: hidden;
}

.result-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px); /* ajuste o valor do desfoque conforme necessário */
  border: none; /* Adicione esta linha para remover a borda */
}

.result h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white; /* cor do texto, ajuste conforme necessário */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* sombra do texto, ajuste conforme necessário */
  
}

.result a {
  color: inherit; /* Use a cor do texto pai para o link */
  text-decoration: none; /* Remova a decoração do link se desejar */
}


.auth-container {
  display: flex;
  width: 70%;
  height: 100%;
}

.auth-buttons {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.auth-text {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10%;
}

.auth-container button {
  width: 10%;
  height: 65%;
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.auth-text a {
  color: white;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  display: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  width: 25px;
  height: 20px;
  border-radius: 6px;
  z-index: 2;
  border: 10px solid transparent;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}

form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

form input::placeholder {
  color: #999;
}

form input::value {
  color: #333;
}

label {
  margin-top: 10px;
  color: white;
  font-size: 18px;
}

.input-box {
  width: 100%;
  height: 100%;
  background-color: #181818;
  border-radius: 6px;
}

.input-box input {
  border: none;
  width: 80%;
  margin: 0;
}

.input-box button {
  width: 15%;
}

.input-box input:hover {
  outline: none;
}

.media-info *,
.comment-section {
  color: white;
}

.player {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.video {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 220, 0);
  overflow: hidden;
}

.video-user-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.video-user-info a {
  font-size: 1.3em;
  font-weight: bold;
}

.video-user-info-piroca, .video-user-info-piroca2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.video-user-info-piroca2 {
  align-items: flex-end;
}

.video-user-info-piroca p {
  font-size: 0.75em;  
}

.video-user-info img {
  width: 46px;
  height: 46px;
  border-radius: 100%;
}

video{
  width:100%;
  height:auto;
  object-fit:fill;
}

.r_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 65%;
  overflow: hidden;
  padding: 10px;
  border-radius: 6px;
  background-color: whitesmoke;
}

.r_media img {
  width: 100%;
  height: 100%;
}

.hub-container {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hub-container h1 {
  color: white;
  font-size: 4em;
  margin: 0;
}

.hub-container a {
  color: white;
  font-size: 1.5em;
}

.hub-container > .subtext {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.login-container {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25%;
  height: auto;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.login-container {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background: #1f1f1f;
}

.login-box {
  width: 80%;
  margin: auto;
}

.login-box h2 {
  color: #61dafb;
  margin-bottom: 15px;
}

.login-box p {
  color: #9fa8b3;
  font-size: 0.9em;
}

.login-box button {
  margin-bottom: 20px;
}

.login-box a {
  color: white;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.input-group a {
  color: #61dafb;
  text-decoration: none;
  font-size: 0.8em;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #4fa1c0;
}

form p {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

form p a {
  color: #61dafb;
  text-decoration: none;
}

#img3, #txt3 {
  display: none;
}

.profile-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.profile-card {
  display: flex;
  background-color: #1f1f1f;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 25%;
  max-height: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.profile-main {
  display: flex;
  border-radius: 8px;
  width: 30%;
  height: 100%;
  margin-bottom: 25px;
}

.profile-info {
  display: flex;
  width: 80%;
  height: 100%;
}

.profile-info > p {
  margin-top: 10px;
  font-size: 3.5em;
  font-weight: bold;
  color: white;
  margin-left: 28px;
}

.profile-other {
  display: flex;
  width: 35%;
  height: 80%;
  align-items: flex-end;
  justify-content: flex-start;
}

.profile-posts {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  border-radius: 9px;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  max-height: 85%;
  border-radius: 5px;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  margin-left: 1.5%;
  position: relative;
  margin-bottom: 15px;
}

.duration {
  position: absolute;
  bottom: 25%;
  right: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px;
  border-radius: 5px;
  color: white;
  width: auto;
}

.post img {
  position: relative;
  min-width: 75%;
  min-height: 75%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.post p {
  margin: 0;
  padding: 0;
  font-size: 3.2em;
  color: white;
  text-align: start;
  cursor: pointer;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #333;
  margin-bottom: 15px;
}

.profile-card a {
  color: #759bff;
  text-decoration: none;
}

.profile-card a:hover {
  text-decoration: underline;
}

.profile-card h1 {
  color: white;
  margin-top: 3px;
  margin-left: 25px;
}

.profile-card p {
  font-size: 14px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.popup-content button {
  width: auto;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.media-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-height: auto;
  align-items: center;
}

.light-mode { /* TODO */
  background-color: #f3f3f3;
}

.dark-mode { /* TODO */
  background-color: #1a1a1a;
  color: #fff;
}

.video-player {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-self: start;
  flex: 0 0 60%;
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 4%;
  padding-bottom: 10%;
}

.video video {
  width: 100%;
  height: 100%;
}

.results h2 {
  color: white; 
  margin-bottom: 10px; 
  margin-top: 15px; 
  background-color: rgb(12,12,12, 0.9); 
  padding: 10px; 
  border-radius: 8px;
}

.recommend-section {
  display: flex;
  flex-direction: column;
  justify-self: center;
  min-width: 22%;
  max-height: 100vh;
  border-radius: 8px;
  margin-right: 10%;
  background: linear-gradient(180deg, rgba(32,32,32,1) 0%, rgba(0,0,0,0) 100%);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10%;
  align-self: start;
}

.recommend-card {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 15px;
}

.recommend-card img {
  width: 45%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.card-info p {
  font-size: 0.85em;
  color: rgb(207, 207, 207);
  font-weight: 400;
  justify-self: flex-end;
  margin-left: 8px;
}

.recommend-card h2 {
  font-weight: bold;
  color: white;
  margin-left: 8px;
  text-wrap: wrap;
}

.extra-card-info {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-self: flex-end;
  justify-self: flex-end;
}

.video-details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background: linear-gradient(0deg, rgba(32,32,32,1) 10%, rgba(0,0,0,0) 100%);
  padding: 20px;
  border-radius: 6px;
}

.video-details * {
  color: white;
}

.video-details p {
  cursor: pointer;
  width: auto;
}

.comments-section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 8px;
  max-height: 35%;
  background: linear-gradient(180deg, rgba(35,35,35,1) 10%, rgba(0,0,0,0) 100%);
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  overflow-y: scroll;
}

.comments div {
  background-color: #0e0e0e;
  padding: 10px;
  border-radius: 6px;
  margin-left: -12px;
  margin-bottom: 10px;
}

.comments a {
  color: rgb(77, 167, 252);
  font-size: 24px;
  font-weight: bold;
}

.comments p {
  font-size: 17px;
  color: white;
}

.dark-mode .container {
  background-color: #1a1a1a;
}

.dark-mode .video-player {
  color: #fff;
}

.comment-input {
  display: flex;
  background-color: rgb(34, 34, 34);
  width: 100%;
  max-height: 25%;
  padding: 5px;
  border-radius: 6px;
}

.comment-input button {
  height: 100%;
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  flex-basis: 5%;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.comment-input input {
  border: none;
  outline: none;
  background-color: #f3f3f300;
  color: white;
  flex-basis: 95%;
  margin-left: 10px;
}

@media (max-width: 1480px) {
  .profile-main {
    width: 40%;
  }
}

@media (max-width: 1280px) {
  .icons, .texts {
    width: 25%;
  }

  .login-container {
    width: 40%;
  }

  .profile-main {
    width: 49%;
  }
}

@media (max-width: 1028px) {
  .search-container {
    width: 70%;
  }

  .icons, .texts {
    width: 35%;
  }

  .profile-card {
    width: 75%;
  }

  .recommend-section {
    display: none;
  }

  .media-container {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 900px) {

  .login-container {
    width: 60%;
  }

  .logo {
    margin-left: 40px;
  }

  .card {
    max-width: 35%;
  }

  .profile-card {
    width: 85%;
  }
}

@media (max-width: 780px) {
  .login-container {
    width: 60%;
  }
  .form form {
    width: 80%;
  }

  .search-container {
    width: 100%;
    margin-left: 4%;
  }

  .profile-card {
    width: 95%;
  }
}

@media (max-width: 670px) {

  .card {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .search-input {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 4%;
  }

  #search {
    font-size: 18px;
  }
  .card {
    max-width: 95%;
  }

  #img3, #txt3 {
    display: flex;
  }

  .icons, .texts {
    width: 70%;
  }

  .auth-text {
    visibility: hidden;
  }

  .profile-main {
    width: 50%;
  }

  .profile-info {
    width: 40%;
  }

  .login-container {
    width: 85%;
  }
}